/* Custom CSS */


html, body{
    margin: 0px;
    padding: 0px;
    height: 100% !important;
    width: 100%;
    font-family: Tahoma, sans-serif;
    font-size: 1em;
    /* color: rgb(12,12,164);   */
    background: rgb(12,12,164);
    background: linear-gradient(90deg, rgba(12,12,164,1) 42%, rgba(0,212,255,1) 100%);
}

table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
    /* border: 1px solid white; */
    
  };


td, th{
    border-collapse: collapse;
    /* border: 1px solid white; */
    padding: 3%;
    text-align: left;
    vertical-align: top;
    color: white;
    
}

th{
    background-color: black;
    text-align: center;
    vertical-align: middle;
}

.searchTab{
    width: 60%;
    text-align: center;
    color: black;
    margin-left: 20%;
}

/* .search{
    width: 50%;
    
    color: black;
    margin-left: 10%;
} */

#mapid{
   
    width: 100%;
    height: 350px;
    /* margin-left: 40%;
    margin-top: -5%; */
    vertical-align:top
  
   
}
.resultTable{
    font-size: 14px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-y: auto;
    vertical-align:bottom;
    text-align: center;
    margin-left: 20%;
    width: 60%;
    color: white;
}

.button{
    background-color: white;
	border: none;
	padding: 12px 15px;
	margin: 2px 5px;
	width: 20%;
    height: 10px;
    font-size: 13px ;
    font-family:  Arial, sans-serif;
}

#btn_find{
    border-radius: 20px;
	border: 2px solid black;
	background-color: #0F72CE;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#btn_back{
    border-radius: 10px;
	border: 2px solid black;
	background-color: #ce1c0f;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
    margin-left: -80%;
    margin-top: -100%;
	
}

#btn_visit{
    border-radius: 20px;
	border: 2px solid black;
	background-color: #0F72CE;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	
}