/* Custom CSS */


html, body{
    margin: 0px;
    padding: 0px;
    height: 100% !important;
    background: rgb(12,12,164);
    background: linear-gradient(90deg, rgba(12,12,164,1) 42%, rgba(0,212,255,1) 100%);
}

.container{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    
}

.box{
    width: 750px;
    margin-top: 2%;
}

.table{
    width: 300px;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0, 0 6px 20px 0;
}

th{
    text-align: center;
}